/*html, body {
    height: 100%;
    margin: 0;
    padding: 0;

    }
*/
.groups-chat{
    width: 450px;
    height:690PX;
    padding-left: 100px;
    float: left;
    margin: 10px 0px 0px 0px;
    
    
}
#btn_new{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}
#chats_li{
    background-color: #9a65be;
}
.list-group li{
    margin-top: 10px;
    background-color: #8f41c4;
    border-radius: 10px;
    list-style-type: none;
    

}
.list-group img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    padding: 0px;
    display: grid;
    place-content: center;
    
  }
  .Mensajes{
    width: 1040px;
    height:500px;    
   float: left;
   padding-left: 10px;
   padding-top: 10px;
  }

.list-group
{   
    overflow-y: scroll;
    padding-bottom: 10px;
    height:100%;
    position: relative;
}
#mensajes{
    overflow-y: scroll;
    height:500px;
    
}
#mensajes >li{
    padding-top: 0px;
   
    height: 80px;
    width: 990px;
}
#mensajes >li>img{
    margin-top: 5px;
}
#Sendbox{
    height: 150px;
    position: absolute;
    width: 1000px;
}
#enviar{
    margin:5px;
    width: 100x;
    float:left;
}
#Nombre{
    margin:5px;
    font-weight: bold;
}
#enviado{
    
    margin-left:20px;
}
p{
    margin:0;
}